
$primary: #0635e0;
$pink: #E53296;
$secondary: #b4c4fd;
$green: #008900;
$red: #DA0100;
$yellow: #FAB831;
$gray-100: #f8f9fa;
$light: $gray-100;
$cyan: #6BF90D;
$info: $yellow;
$body-bg: #6385FB;
$warning: $cyan;